<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>ramsayStSettings.py</string>
			<key>preferredName</key>
			<string>Ramsay St. Settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>TypeMyType</string>
	<key>developerURL</key>
	<string>http://www.typemytype.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>ramsaySt.py</string>
	<key>name</key>
	<string>Ramsay St</string>
	<key>timeStamp</key>
	<real>1320233007.075783</real>
	<key>version</key>
	<string>1.2</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>repository</key>
		<string>typemytype/ramsayStreetRoboFontExtension</string>
		<key>summary</key>
		<string>Show neighbours.</string>
	</dict>
</dict>
</plist>
